<header class="masthead">
    <div class="container">
        <form [formGroup]="signUpForm" class="form text-center" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="mail">{{'SignIn.Mail' | translate}}</label>
                    <input type="mail" class="form-control" id="mail" formControlName="mail">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="pwd">{{'SignIn.Pass' | translate}}</label>
                    <input type="password" class="form-control" id="pwd" formControlName="password">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="firstname">{{'SignUp.FirstName' | translate}}</label>
                    <input type="text" class="form-control" id="firstname" formControlName="firstName">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="lastname">{{'SignUp.LastName' | translate}}</label>
                    <input type="text" class="form-control" id="lastname" formControlName="lastName">
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="sex">{{'SignUp.Sex' | translate}}</label>
                    <div class="form-group">
                        <select class="custom-select form-control" formControlName="sex" id="sex">
                            <option value=""></option>
                            <option value="M">{{'SignUp.Gender.0.Male' | translate}}</option>
                            <option value="F">{{'SignUp.Gender.1.Female' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="schoollevel">{{'SignUp.SchoolLevel' | translate}}</label>
                    <input type="text" class="form-control" formControlName="schoolLevel" id="schoollevel">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="birthdate">{{'SignUp.BirthDate' | translate}}</label>
                    <input type="date" class="form-control" formControlName="birthDate" id="birthdate">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="phonenumber">{{'SignUp.Phone' | translate}}</label>
                    <input type="tel" class="form-control" formControlName="phoneNumber" id="phonenumber">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" (mouseenter)="changeText=true" (mouseleave)="changeText=false">
                    <!-- Card -->
                    <div class="card mb-3 col-lg">

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">{{'SignUp.ClassLevel.0.BeginnerOne' | translate}}</h4>
                            <!--Text-->
                            <p class="card-text" *ngIf="changeText">
                                {{'SignUp.LevelDetails.0.BeginnerOne' | translate}}
                            </p>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="button" (click)="selectedLevel('beginnerOne')"
                                class="btn btn-primary btn-select">{{'SignUp.Select' | translate}}</button>
                        </div>
                    </div>
                    <!--Card 2-->
                    <div class="card mb-3 col-lg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{'SignUp.ClassLevel.1.BeginnerTwo' | translate}}</h4>
                            <!--Text-->
                            <p class="card-text" *ngIf="changeText">
                                {{'SignUp.LevelDetails.1.BeginnerTwo' | translate}}
                            </p>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="button" (click)="selectedLevel('beginnerTwo')"
                                class="btn btn-select">{{'SignUp.Select' | translate}}</button>
                        </div>
                    </div>

                    <!--Card 3-->
                    <div class="card mb-3 col-lg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{'SignUp.ClassLevel.2.IntermediateOne' | translate}}</h4>
                            <!--Text-->
                            <p class="card-text" *ngIf="changeText">
                                {{'SignUp.LevelDetails.2.IntermediateOne' | translate}}
                            </p>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="button" (click)="selectedLevel('intermediateOne')"
                                class="btn btn-select">{{'SignUp.Select' | translate}}</button>
                        </div>
                    </div>
                    <div class="card mb-3 col-lg">
                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">{{'SignUp.ClassLevel.3.IntermediateTwo' | translate}}</h4>
                            <!--Text-->
                            <p class="card-text" *ngIf="changeText">
                                {{'SignUp.LevelDetails.3.IntermediateTwo' | translate}}
                            </p>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="button" (click)="selectedLevel('intermediateTwo')"
                                class="btn btn-select">{{'SignUp.Select' | translate}}</button>
                        </div>
                    </div>

                    <div class="card mb-3 col-lg-2 col-md-11" id="advanced">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{'SignUp.ClassLevel.4.Advanced' | translate}}</h4>
                            <!--Text-->
                            <p class="card-text" *ngIf="changeText">
                                {{'SignUp.LevelDetails.4.Advanced' | translate}}
                            </p>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="button" (click)="selectedLevel('advanced')"
                                class="btn btn-select">{{'SignUp.Select' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn text-center" type="submit"
                [disabled]=!signUpForm.valid>{{'SignUp.Signup' | translate}}</button>
            <button class="btn text-center" type="reset" (click)="revert()"
                id="revert">{{'SignUp.Revert' | translate}}</button>
        </form>
    </div>
</header>